html {
  --u: 1vw;
  --h: 100vh;
  background: #333;
  box-shadow: inset 0 0 10vw #000;
}

*:not(br) {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
}

head {
  display: none;
}

body {
  --canvasHeight: calc(var(--u)*100*5/3);
  --bottomSpace: calc((var(--h) - var(--u)*10 - var(--canvasHeight)) / 2);
  position: absolute;
  overflow: hidden;
  font-size: calc(var(--u) * 4);
  font-family: Arial, "Liberation Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  color: #FFF;
  perspective: 100vw; /* To simulate mobile rotation on a desktop */
}

wrapper {
  width: 100vw;
  height: 100vh;
  filter: drop-shadow(0 0 2vw #000) grayscale(0%);
  transform-origin: 0 0;
}

gameset {
  width: 100vw;
  height: 100vh;
  transition: filter 4s;
}
.over gameset {
  filter: drop-shadow(0 0 2vw #000) grayscale(100%);
}

/* This was a try to solve screen.orientation.lock failure
   https://bugzilla.mozilla.org/show_bug.cgi?id=1610745
   However the screen still fliping. That sux.
   So I replaced it with the code bellow blocing the landscape screen.
.rot90, .rot270 {
  --u: 1vh;
  --h: 100vw;
}
.rot90 gameset, .rot270 gameset {
  transform-origin: top left;
  transform: rotate(-90deg);
  width: 100vh;
  height: 100vw;
  top: 100vh;
}
.rot270 gameset {
  transform: rotate(90deg);
  top: 0;
  left: 100vw;
}
*/

.rot90 gameset {
  transform-origin: top left;
  transform: rotate(-90deg);
  width: 100vh;
  height: 100vw;
  top: 100vh;
}

html:not(.rot0) .is-mobile::after {
  content: "Please lock device rotation on portrait";
  text-align: center;
  color: #FFF;
  background: #C00;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 42vh 0;
}

.not-mobile {
  --u: calc( 60vh / 100 );
  --h: calc( 60vh * 2 );
}
.not-mobile wrapper {
  width: 0;
  height: 0;
  top: 50vh;
  left: 50vw;
}
.not-mobile gameset {
  width: 60vh;
  height: var(--h);
  left: calc( (100vw - 60vh * 2) / 2 - 50vw );
  top: 27vh;
  transform-origin: top left;
}

p {
  background: #000;
  left: 0;
  right: 0;
  height: var(--canvasHeight);
  bottom: var(--bottomSpace);
  overflow: hidden;
  transition: filter 2s;
}

.lvl-fade p {
  filter: contrast(30%) brightness(3);
}

canvas {
  left: 0;
  right: 0;
  /* width: calc(var(--u)*100); */
  /* height: var(--canvasHeight); */
  /* bottom: var(--bottomSpace); */
  border-radius: calc(var(--u)*2);
}

#shadow {
  opacity: 0.5;
  filter: blur(calc(var(--u)/2));
}

b {
  position: absolute;
  top: calc(var(--h)*.45);
  left: calc(var(--u)*50);
  font-size: calc(var(--u)*10);
  margin-left: calc(var(--u)*-25);
  white-space: pre;
  text-align: center;
}

pre {
  /*  Old header rainbow bg
  background: linear-gradient(90deg, #F00, #FA0, #EE0, #4D0, #0F8, #08F, #40F, #F0F, #F00);
  background-size: 200% 100%;
  animation: 7s linear 1.33s infinite ani;
  */
  background-size: 100% 800%;
  background-position: 50% 50%;
  box-shadow: inset 0 calc(var(--u)*2) calc(var(--u)*2) rgba(0,0,0,.8);
  left: 0;
  right: 0;
  bottom: calc(var(--canvasHeight) + var(--bottomSpace));
  height: calc(var(--u)*10);
  padding-top: calc(var(--u)*2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(var(--u)*12) calc(var(--u) * 12) 0 0;
  color: #FFF;
  overflow: hidden;
  font-weight: bold;
}

pre * {
  position: static;
  display: inline-block;
}
pre span {
  filter: drop-shadow(0 0 calc(var(--u)) #000);
}
pre l { /* Dead ship */
  filter: sepia(1) saturate(22) hue-rotate(180deg);
}
pre d { /* Dead ship */
  filter: grayscale(1) contrast(.5) brightness(1.3);
}
pre t { /* Text */
  margin: 0 calc(var(--u)*3);
  text-shadow:
    0 0 calc(var(--u)*2) #000,
    calc(var(--u)*.3) calc(var(--u)*.5) 0 rgba(0,0,0,.5);
}

pre:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.7));
  z-index: 0;
}

pre:after {
  content: "";
  position: absolute;
  display: block;
  left: calc(var(--u)*3);
  right: calc(var(--u)*3);
  top: calc(var(--u)*2);
  bottom: var(--u);
  border: none;
  border-top: calc(var(--u)*.6) solid #FFF;
  border-radius: calc(var(--u)*10) calc(var(--u)*10) 0 0;
  filter: blur(calc(var(--u)*.5));
}

/* Old header bg animation
@keyframes ani {
  0%   { background-position: 0 }
  100% { background-position: calc(var(--u)*200) }
}
*/

#tweet {
  position: absolute;
  display: block;
  top: 45vh;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 9vw;
  font-weight: bold;
  text-decoration: none;
  color: #07D;
  text-shadow: 0 0 6vw #08F;
}

/* INI DEBUG */
fps {
  right: 0;
  bottom: var(--bottomSpace);
  background: #000;
  padding: 0 5px;
  z-index: 100;
  opacity: 0.6;
  font-size: calc(var(--u) * 4.2);
  font-family: 'Arial', 'Liberation Sans', sans-serif
}
X.is-mobile fps:before { content: 'Mobile ' }
X.not-mobile fps:before { content: 'Desktop ' }
/* END DEBUG */
